{% extends "layouts/default.html" %}

{% block content %}
  <section class="jumbotron bg-inverse text-white text-center">
    <div class="container">
      <h1 class="jumbotron-heading display-3">Team Awesome!</h1>
      <p class="lead text-muted">4 Students 1 goal</p>
    </div>
  </section>

  <div class="containter p-t-2">

      <div class="row m-2">

        <div class="col-md-6 col-xl-3">
          <div class="card bg-inverse text-white">
            <img class="card-img-top" src="/images/me.jpg" alt="Card image cap">
            <div class="card-block">
              <h4 class="card-title">Adam</h4>
              <p class="card-text">MADAMIMADAM Saland is my last name. Major: Computer Science with a concentration in Big Data Management and Analytics. Languages I have been able to grasp include: JavaScript(Node.js), HTML, SCSS, Python, Ruby, C, C++, Objective-C, Java, XML, Maple, Matlab, and Wolfram Language (Mathematica). Proficiency is basically in descending order respectively. My Girlfriend Lauren is my main motivating force! My hobbies include learning new frameworks, and creating modules for various workflow pitfalls. Muay Thai and Brazilian Jui Jitsu keep me sane and sore.</p>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-xl-3">
          <div class="card bg-inverse text-white">
            <img class="card-img-top" src="/images/zabbar.jpg" alt="Card image cap">
            <div class="card-block">
              <h4 class="card-title">Zabbar</h4>
              <p class="card-text">My name is Zabbar Alamgir. I am junior at New York Institute of Technology, majoring in Computer Science with a concentration in Networks & Security.  The programming languages that I am accustomed to are Java and HTML. My hobbies include playing basketball and coding.</p>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-xl-3">
          <div class="card bg-inverse text-white">
            <img class="card-img-top" src="/images/amol.jpg" alt="Card image cap">
            <div class="card-block">
              <h4 class="card-title">Amol</h4>
              <p class="card-text">My name is Amol Soneji. I am majoring in Computer Science with a concentration in Network Parameter and Security, at New York Institute of Technology. As of the Spring 2017 semester, from the courses that I am enrolled in, one of them is CISCO Academy level 1. I know Java and Html4. I also know some CSS. I like to: Program, Play pool (billiards), and Baseball</p>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-xl-3">
          <div class="card bg-inverse text-white">
            <img class="card-img-top" src="/images/shrey.jpg" alt="Card image cap">
            <div class="card-block">
              <h4 class="card-title">Shrey</h4>
              <p class="card-text">My name is Shrey Desai. I am a Computer Science major in my senior year. I am fluent in Java, C++, HTML5, CSS3, SQL. I am familiar with the .NET framework and I am currently learning AngularJS, Backbone.JS, jQuery, Hadoop, MongoDB, noSQL and Python.</p>
            </div>
          </div>
        </div>

    </div>
  </div>
{% endblock %}
