{% extends "layouts/default.html" %}

{% block content %}
<section class="jumbotron text-center">
      <div class="container">
        <h1 class="jumbotron-heading">Team Awesome!</h1>
        <p class="lead text-muted">4 Students 1 goal</p>
      </div>
    </section>

    <div class="album text-muted">
      <div class="container">

        <div class="row">
          <div class="card">
            <img class="img-circle img-responsive" src="/images/me.jpg" alt="Card image cap">
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
          <div class="card">
            <img class="img-circle img-responsive" src="/images/zabbar.jpg" alt="Card image cap">
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
          <div class="card">
            <img class="img-circle img-responsive" src="/images/arom.jpg" alt="Card image cap">
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
          <div class="card">
            <img class="img-circle img-responsive" src="/images/shrey.jpg" alt="Card image cap">
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
        </div>

      </div>
    </div>

{% endblock %}
