{% extends "layouts/default.html" %}

{% block content %}
<section class="jumbotron bg-inverse text-white text-center">
      <div class="container">
        <h1 class="jumbotron-heading">Team Awesome!</h1>
        <p class="lead text-muted">4 Students 1 goal</p>
      </div>
    </section>

    <div class="album text-muted">
      <div class="container">

        <div class="row">

          <div class="card-deck">

            <div class="card">
              <img class="card-img-top img-fluid" src="/images/me.jpg" alt="Card image cap">
              <div class="card-block">
                <h4 class="card-title">Adam</h4>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              </div>
            </div>

            <div class="card">
              <img class="card-img-top img-fluid" src="/images/zabbar.jpg" alt="Card image cap">
              <div class="card-block">
                <h4 class="card-title">Zabbar</h4>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              </div>
            </div>

            <div class="card">
              <img class="card-img-top img-fluid" src="/images/amol.jpg" alt="Card image cap">
              <div class="card-block">
                <h4 class="card-title">Amol</h4>
                <p class="card-text">My name is Amol Soneji. I am majoring in Computer Science with a concentration in Network Parameter and Security, at New York Institute of Technology. As of the Spring 2017 semester, from the courses that I am enrolled in, one of them is CISCO Academy level 1. I know Java and Html4. I also know some CSS. I like to: Program, Play pool (billiards), and Baseball</p>
              </div>
            </div>

            <div class="card">
              <img class="card-img-top img-fluid" src="/images/shrey.jpg" alt="Card image cap">
              <div class="card-block">
                <h4 class="card-title">Shrey</h4>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              </div>
            </div>

        </div>

      </div>
    </div>

{% endblock %}
