{% extends "layouts/default.html" %}

{% block content %}
<div class="jumbotron bg-inverse">
		<div class="container">
			<h1 class="display-3">CSCI 318</h1>
				<blockquote class="blockquote">
  				<p class="mb-0">A new, a vast, and a powerful language is developed for the future use of analysis, in which to wield its truths so that these may become of more speedy and accurate practical application for the purposes of mankind than the means hitherto in our possession have rendered possible</p>
  				<footer class="blockquote-footer"><strong>Ada Lovelace</strong><cite title="Source Title"> The Difference Engine</cite>, 1843</footer>
				</blockquote>

		</div>
	</div>

	<div class="container bg-inverse">
		<!-- Example row of columns -->
		<div class="row">
			<div class="col-md-4">
				<h2>LaTeX</h2>
				<p>LaTeX, which is pronounced «Lah-tech» or «Lay-tech» (to rhyme with «blech» or «Bertolt Brecht»), is a document preparation system for high-quality typesetting. It is most often used for medium-to-large technical or scientific documents but it can be used for almost any form of publishing.</p>
				<p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
			</div>
			<div class="col-md-4">
				<h2>Standard ML</h2>
				<p>Standard ML (SML) is a general-purpose, modular, functional programming language with compile-time type checking and type inference. It is popular among compiler writers and programming language researchers, as well as in the development of theorem provers.</p>
				<p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
		 </div>
			<div class="col-md-4">
				<h2>Projects</h2>
				<p>LATEX tutorial: Team Awesome's introduction into preparing a 10-minute presentation to introduce LATEX. This tutorial integrates the beamer package.</p>
				<p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
			</div>
		</div>
	</div>



		<footer>
			<p>&copy; Jpagnano 2017</p>
		</footer>
	</div> <!-- /container -->

{% endblock %}
